:root {
  --black: #000000;
  --blue-dark: #14213d;
  --orange: #fca311;
  --gray-light: #e5e5e5;
  --white: #ffffff;
}

.CreateTodoButton {
  background-color: var(--blue-dark);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 2.5rem;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: 400;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  z-index: 1;
  transform: rotate(0);
  transition: 0.3s ease;
}
.CreateTodoButton:hover {
  transform: rotate(224deg);
  background-color: var(--orange);
}
@media screen and (max-width: 768px) {
  .CreateTodoButton {
    transform: 0;
  }
  .CreateTodoButton:hover {
    transform: 0;
  }
}
