:root {
  --black: #000000;
  --blue-dark: #14213d;
  --orange: #fca311;
  --gray-light: #e5e5e5;
  --white: #ffffff;
}

h1 {
  color: var(--black);
  margin-left: 24px;
}

hr.solid {
  margin-bottom: 0;
  border-top: 3px solid var(--blue-dark);
}
